/*Cores de fundo da abertura*/
$backAbert1: #d4a174;
$backAbert2: #e6dab4;
/*------------------------------------*/
/*Cores usuais*/
$breu: black;
$sangue: red;
$branco: white;
$brancoFumaca: whitesmoke;
$rato: grey;
$verdeLumi: lime;
/*--------------------------------------*/
/*Cores do luminoso*/
$neonLigth: #14fff1;
$sombraLatter: rgba(255, 255, 255, 0.3);
/*---------------------------------------*/

/*Cores botão liga/desl*/
$backBotOnOff: #808080;
$profundBotOnOff: rgba(0, 0, 0, 0);
$pretoAbsoluto: #000;
$sombraInterna1: #D3D3D3;
$sombraInterna2: #696969;
$bordaBotao: #2B1800;

/*----------------------------------------*/
/*Cores botão new job*/
$backBotNewJob: #FFA12B;
$sombrInt1: #FFE5C4;
$sombrInt2: #915100;
$backBotNewJob2: #F78900;
/*----------------------------------------*/